<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- "development" za testiranje s Xcodeom; TestFlight i App Store koriste "production".
	     Uz to na poslužitelju postavi APNS_PRODUCTION=1. -->
	<key>aps-environment</key>
	<string>development</string>
</dict>
</plist>
